body {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 1000px 350px 1fr;
}

#ImageCarouselService {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

#ProductInfoService {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

#RelatedProductsService {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

#ReviewsService {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

