body {
  display: grid;
  grid-template-columns: 650px 450px 275px;
  grid-template-rows: 155px 1000px 350px 1fr;
}

#menu-bar {
  height: 150px;
  width: 1375px;
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}

aside {
  grid-row: 2 / 2;
  grid-column: 3 / 4;
  margin-left: 15px;
  border: 2px solid #E0E0E0;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  height: 850px;
}

#top {
  background-color: lightgray;
  padding: 7px;
}

#bottom {
  padding: 7px;
}

#pill {
  line-height: 20px;
}

#five {
  background-color: orange;
  border: solid orange;
  border-right: 20px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px;
}

#fifteen {
  background-color: lightgray;
  border: solid lightgray;
  border-left: 20px solid lightgray;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px;
}

#ImageCarouselService {
  grid-row: 2 / 2;
  grid-column: 1 / 2;
}

#ProductInfoService {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  margin-left: 10px;
}

#RelatedProductsService {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

#ReviewsService {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

